/* reset */
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.thumb,  div {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

form {
	background-color: #320;
	position: absolute;
	left: 200px;
}
button {
	justify-content: right;
	float: right;
}
html , body{
	line-height: 1;
	background-color: #023;
}

footer {
	clear: right;
	float: right;
	justify-content: right;
	text-align: right;
}

div.horizontal {
    display: flex;
    width: 212px;
    height: 212px;
    justify-content: center;
    background-color: blue;
}

div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

div.horizontal:nth-child(odd){
	background-color: red;
}


p {
	font-size: 48px;
	color: white;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;
	line-height: 125%;
	margin-bottom: 10px;
	text-decoration: blink;
}
h5 {
	color: yellow;
	font-family: 'ColaborateLightRegular', Arial, sans-serif;

}
