/*  note the nth child, the button */

div:nth-child(odd) {
	background-color: gray ;
	color: white ;
}


div:nth-child(even) {
	color: black ;
}

div:nth-child(3n +1)   {
	clear: left;
}

div:nth-child(7){
	padding: 5px 0px 0px 5px;
}

div div { height: 200px;
			width: 200px;
			float: left;
			margin: 2px;

}

/* doesn't work */
button {
	justify-content: right;
}



#purple {
	background-color: purple;
	color: white;
	font-family: courier;
}

#green {
	background-color: green;
}
#blue {
	background-color: blue;
	color: pink;
}